.items {
    background-color: rgb(253, 253, 253);
    width: 280px;
    border: 0px solid rgb(78, 66, 105);
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 20px;
    margin: 10px;
  }

.fixed {
    position: relative;
    left: 70px;
    top: 0px;
  }

  .split{
    display: flex; /* equal height of the children */
    justify-content: space-between ;
  }

.price {
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
  }

  .itemName {
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
  }

  .fa-cart-plus{
    background:#0652DD;
  }
  
  .quantities {
    font-weight: bold;
    font-family: Arial;
    font-size: 16px;
  }

/* CSS */
.addtocart {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  position: relative;
  left: 00px;
  top: 0px;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.addtocart:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.addtocart:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.addRem {
  position: relative;
  top: -20px;
  left: 110px;

}
.glyphicon.glyphicon-plus{
  font-size: 20px;
  color: #000000;
}
.glyphicon.glyphicon-minus{
  font-size: 20px;
  color: #000000;
}

.quen1{
  display: flex; /* equal height of the children */
  justify-content: first baseline ;
  position: relative;
  top: 5px;
  left: 140px;
}

.spaceBetween{
  margin-left: 20px;
  font-size: 20px;
}

.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;

  /* Mittig */
  top: 50%;
  left: 50%;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}

.main_btn_m {
  float          : right;
  display        : block;
  text-decoration: none;
  background  :   linear-gradient(-180deg, #FF7E31, #E62C03);
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 8px 40px;
  font-family: Arial, Helvetica, sans-serif;
  transition: .7s;
  letter-spacing: 1px;
  transition: box-shadow .2s ease-in-out;
  border-radius: 16px;
  position: relative;
  left: -130px;
  bottom: 30px;
}

.main_btn_m span {
  float: left; 
}

.main_btn_m:hover {
  background: linear-gradient(-180deg, #FF7E31, #E62C03);
  color: #ffffff;
  transition: .7s;
  cursor: pointer;
}

.hvr-underline-from-left_m {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
position: relative;
overflow: hidden;
}

.hvr-underline-from-left_m:before {
content: "";
position: absolute;
z-index: -1;
left: 0;
right: 100%;
bottom: 0;
background: #FEC55A;
height: 3px;
-webkit-transition-property: right;
transition-property: right;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

.hvr-underline-from-left_m:hover:before, .hvr-underline-from-left_m:focus:before, .hvr-underline-from-left_m:active:before {
right: 0;
}